body{
    background-color: $one;
}

.main{
  @include grid(1,1);
  max-width: 1280px;
  width: 100%;
  background: $one;
  margin: 0 auto;


}

.col{
  @include grid(5,12);
  background: $two;
  // height: 100%;
}

.col__gap{
  @include grid(1,12);
  height: 1px;
  visibility: hidden;
}

.row::before{
  @include grid(1,12);
  content: " ";
  height: 1px;
  visibility: hidden;
}


.main__column--push{
  @include push(1,3);
}


.wrapper{

    // margin: 0 auto;
}