.button__wrap{
	padding-left: 50px;
	margin-bottom: 10px;

 	@media only screen and (max-width:$small){
		padding-left: 0;
		display: table;
		margin: 0 auto;
 	}

	.button{
	padding: 10px;
	border: 4px solid black;
		
		&.android{
		margin-left: 25px;
		}
	}
}


.social__wrap{
	
	.social{
		// padding: 30px;
		background-size: cover;
		background-position: center;
		// @include transition (0.3s);
		
		&.facebook{
			background-image: url(../../../assets/images/social/facebook.svg);
		}

		&.twitter{
			background-image: url(../../../assets/images/social/twitter.svg);
			margin-left: 25px;
		}
	}
}

		

