.iphone_1{
	height: 560px;
	background-image: url(../../../assets/images/iphone_1.png);
	background-size: 340px;
	background-repeat: no-repeat;
	background-position: center top; 

		@media only screen and (max-width:700px){
			background-size: 300px;
			margin-top: 50px;
		}

}
